{% extends 'base.html' %}

{% block body %} 

<div class="position-absolute start-50 translate-middle container" style="margin-top: 16%;">
  <form action ={% url "search" %} method ="get">{% csrf_token %}
    <div class="text-center mb-4">
      <h1 style="color: white; font-family: revert; font-weight: bold;font-size: xxx-large;">Paper Ranker</h1>
    </div>
    <div class="input-group mb-3 mx-auto w-75">
      <input type="text" name ="q" class="form-control" style="border-radius: 1rem;" aria-label="Username" aria-describedby="basic-addon1" list = "areasOfPaperSearch">
        <datalist id = "areasOfPaperSearch">
        {% for entry in object_list %}
		<option value ="{{ entry.0 }}">                  
        {% endfor %}
        </datalist>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-secondary">Search</button>
    </div>
  </form>
</div>

{% endblock body %}
