{% extends 'base.html' %}

{% block body %} 
{% comment %} <div class="position-absolute top-50 start-50 translate-middle"><p class="h1">PAPER RANKER</p></div> {% endcomment %}

<div class="position-absolute top-50 start-50 translate-middle container">
  <form>
    <div class="text-center mb-4">
      <h1>Paper Ranker</h1>
    </div>
    <div class="input-group mb-3 mx-auto w-75">
      <input type="text" class="form-control" style="border-radius: 1rem;" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-secondary">Search</button>
    </div>
  </form>
</div>

{% endblock body %}