{% extends 'base.html' %}
{% block body %}
<br>
</ul>
    <div class="container" style="color: antiquewhite; ">
        <table id="example" class="table table-striped table-bordered nowrap" style="width:100%; background-color: antiquewhite;">
            <thead>
                <tr>
                    <th>Paper Name</th>
                    <th>Authors</th>
                    <th>Rank</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
            
	  {% for entry in object_list %}
    		
                <tr>
                	
                    <td>{{ entry.0 }}</td>
                    <td>{{ entry.1 }}</td>
                    <td>{{ entry.2 }}</td>
                    <td><a href = {{ entry.3 }} target="_blank"><i class="fa fa-download "></i></a></td>
                </tr>
  	{% endfor %}
		<ul>

            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js  "></script>

    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable( {
                responsive: true,
                "pageLength": 20,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50,100]],
		"order": [[ 2, "asc" ]]
            } );
        
            new $.fn.dataTable.FixedHeader( table );
        } );
    </script>
{% endblock body %}
