<!DOCTYPE html>
{% load static %}  
<html lang="en" id="fullPage">
<head>
    <title>Document</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.jpg">
</head>
<body>
    <div id="navigation">
        <span id="name" onclick="fhome()">
            Paper Ranker                                                   
        </span>
        <div id="nav">
            <span id="home" onclick="fhome()" class="colorOnHover">
                Search
            </span>
            <span id="about" onclick="fabout()" class="colorOnHover">
                Data
            </span>
            <span id="education" onclick="feducation()" class="colorOnHover">
                Sources
            </span>
            <span class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </span>
        </div>
    </div>
    <div id="content">
        
    </div>
    <div id="homeDiv">
        <div class="col-lg-12">
            <div class="intro-message">
                <h1>Paper Ranker</h1>
                <h3>Lookup the <span class="slogan">rank</span><span class="typed-cursor"></span> of your conference.</h3>
                <hr class="intro-divider">

                <div class="input-group">
                    <input id="search-input" type="text" class="form-control" placeholder="Search for, e.g., ECCV, computer vision, robotics ...">
                    <span class="input-group-btn">
                        <button id="search-button" class="btn btn-default" type="button">Search!</button>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    <div id="aboutDiv">

    </div>
    <div id="educationDiv">

    </div>
</body>
<footer>
    <p id="demo">  </p>
     <script src="{% static 'script.js' %}" type="text/javascript"></script>  
 
</footer>
</html>
